<template>
<v-layout
    column
    align-center
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>

    <v-container>
      <v-flex
        xs10
        class="elevated white pa-4 align-end"
      >
        <v-text-field
          label="Display name"
          v-model="user"
          class="mt-12"
        >
        </v-text-field>

        <v-layout
          v-for="message in messages"
          :key="message.timestamp"
          row
        >
          <v-flex xs12>
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right mb-2"
              label>
                {{message.text}}
            </v-chip>

            <v-badge
              v-if="message.uuid !== uuid"
              :value="showUsers && message.user"
              :content="message.user"
              color="secondary"
              transition="slide-x-transition"
              overlap bottom left>
                <v-hover v-model="showUsers">
                  <v-chip
                    text-color="primary"
                    outlined
                    color="primary"
                    class="float-left mb-2"
                    label>
                      {{message.text}}
                  </v-chip>
                </v-hover>
            </v-badge>
          </v-flex>
        </v-layout>

        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-12"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage)"
        >
        </v-text-field>

        <v-btn
          @click="sendMessage(currentMessage)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage)"
        >
          Send
        </v-btn>
      </v-flex>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    showUsers: false,
    currentMessage: "",
    user: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    sendMessage: function(text) {
      // guard against sending an empty message
      if (!text) return false
      // guard against sending message without a username
      if (!this.user) return false

      // otherwise, send the message
      const message = JSON.stringify({
        text,
        user: this.user,
        uuid: this.uuid,
      })
      this.$socket.send(message)

      // then reset current message back to empty string
      this.currentMessage = ''
    },

    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was:`)
            console.dir(res.data)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
